@model int

<!DOCTYPE html>
<html>
<head>
    <title>Cantidad de Ideas de Negocio con Impacto "Desarrollo Sostenible"</title>
</head>
<body>
    <h1>Cantidad de Ideas de Negocio con Impacto "Desarrollo Sostenible"</h1>

    <p>Hay @Model ideas de negocio que tienen "desarrollo sostenible" en el impacto social o económico.</p>

    <div>
        @Html.ActionLink("Volver a la Lista de Ideas de Negocio", "MostrarIdeaNegocio")
    </div>
</body>
</html>
