@model Tuple<ProyectoDeAula4_MiguelHerazo_SamuelMeneses_JeronimoRivera.Models.IdeaNegocioModel, ProyectoDeAula4_MiguelHerazo_SamuelMeneses_JeronimoRivera.Models.IdeaNegocioModel>

<h2>Idea de negocio que impacta a más departamentos</h2>
<p>Nombre: @Model.Item1.Nombre</p>
<p>Impacto: @Model.Item1.Impacto</p>

<h2>Idea de negocio con mayor total de ingresos en los primeros 3 años</h2>
<p>Nombre: @Model.Item2.Nombre</p>
<p>Ingresos en 3 años: @Model.Item2.Ingresos3Anios</p>
